* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: all 0.5s ease-in;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.urlInput {
}

.urlInput h2 {
  margin-bottom: 1rem;
}

form input,
form button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  background: white;
}

form input {
  border-radius: 0.5rem 0 0 0.5rem;
  min-width: 40%;
}

form button {
  color: white;
  background: black;
  cursor: pointer;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: all 0.3s ease;
}

form button:hover {
  background: white;
  color: black;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 4rem;
}

table tr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

table tr:nth-of-type(1) {
  border-top: none;
}

table td {
  word-wrap: break-word;
  padding: 0.5rem 0;
}

table td:nth-of-type(1) {
  width: 25%;
  font-weight: 600;
}
table td:nth-of-type(2) {
  padding-left: 1rem;
}
